@model RightoGo.Web.ViewModels.Users.UserViewModel

<h2>@Model.UserName's profile</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.AvatarUrl" class="profile-image" />
        </div>
    </div>
</div>
