@using Kendo.Mvc.UI

@section kendo {
    @Scripts.Render("~/bundles/kendoJS")
}

@{
    ViewBag.Title = "Tests Administration";
}

<h1>@ViewBag.Title</h1>

@(Html.Kendo().Grid<RightoGo.Web.Areas.Administration.Models.AdmTest.AdminTestViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.CreatorName);
          columns.Bound(c => c.CreatedOn);
          columns.Bound(c => c.ModifiedOn);
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
      })
      .ToolBar(toolbar =>
      {
          toolbar.Create();
      })
      .HtmlAttributes(new { style = "height: 400px" })
       .Editable(editable =>
       {
           editable.Mode(GridEditMode.PopUp);
           editable.DisplayDeleteConfirmation("Are you completely sure?");
       })
      .Pageable()
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Events(eve => eve.RequestStart("handle_Start"))
          .Events(events => events.Error("grid_error"))
          .Events(events => events.RequestEnd("handle_End"))
          .Model(model => model.Id(p => p.Id))
          .Read(read => read.Action("Tests_Read", "AdminTests"))
          .Create(create => create.Action("Tests_Create", "AdminTests"))
          .Update(update => update.Action("Tests_Update", "AdminTests"))
          .Destroy(destroy => destroy.Action("Tests_Destroy", "AdminTests"))
      )
)

@Html.Partial("_KendoAlertsPartial")

@section scripts {
    <script>
        function handle_Start(e) {
            var response = e.response;
            var type = e.type;
        }
    </script>
}