@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Universities Administration";
}

<h1>@ViewBag.Title</h1>

@(Html.Kendo().Grid<RightoGo.Web.Areas.Administration.Models.AdminUniversityViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Id);
          columns.Bound(c => c.Name);
          columns.Bound(c => c.CreatedOn).Title("Created On");
          columns.Bound(c => c.ModifiedOn).Title("Modified On");
          columns.Command(command => { command.Edit();  command.Destroy(); }).Width(180);
      })
      .ToolBar(toolbar => toolbar.Create())
      .HtmlAttributes(new { style = "height: 400px" })
      .ColumnMenu()
      .Editable(editable =>
      {
          editable.Mode(GridEditMode.PopUp);
          editable.DisplayDeleteConfirmation("Are you completely sure?");
      })
      .Pageable()
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Events(events => events.Error("grid_error"))
          .Events(events => events.RequestEnd("handle_End"))
          .Model(model => model.Id(p => p.Id))
          .Create(create => create.Action("Universities_Create", "AdminUniversities"))
          .Read(read => read.Action("Universities_Read", "AdminUniversities"))
          .Update(update => update.Action("Universities_Update", "AdminUniversities"))
          .Destroy(destroy => destroy.Action("Universities_Destroy", "AdminUniversities"))
      )
)

@section scripts {
    <script>
        function grid_error(e) {
            if (e.errors) {
                var message = "There are some errors:\n";
                // Create a message containing all errors.
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                // Display the message
                swal("Error", message, "error");
                // Cancel the changes
                var grid = $("#grid").data("kendoGrid");
                grid.cancelChanges();
            }
        }

        function handle_End(e) {
            var response = e.response;
            var type = e.type;
            if (type === "update") {
                swal("Success", e.message, "success");
            }
        }
    </script>
}