@if (this.TempData["Success"] != null)
{
    <div class="alert alert-success">@this.TempData["Success"]</div>
}
else if (this.TempData["Error"] != null)
{
    <div class="alert alert-danger">@this.TempData["Error"]</div>
}