@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="text-danger">
    <h1 class="text-error">An error occurred while processing your request.</h1>
    <h2 class="text-error">@Model.Exception.Message</h2>
</hgroup>
